<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.liuzz.dao.MenuDAO">
    <resultMap id="MenuResultMap" type="com.baizhi.liuzz.entity.Menu">
        <id column="f_id" property="id"/>
        <result column="f_title" property="title"/>
        <result column="f_iconCls" property="iconCls"/>
        <result column="f_selected" property="selected"/>
        <collection property="children" javaType="list" ofType="com.baizhi.liuzz.entity.Menu">
            <id column="s_id" property="id"/>
            <result column="s_title" property="title"/>
            <result column="s_iconCls" property="iconCls"/>
            <result column="s_selected" property="selected"/>
            <result column="s_href" property="href"/>
        </collection>
    </resultMap>
    <select id="select" resultMap="MenuResultMap">
        select f.id f_id,f.title f_title,f.iconCls f_iconCls,f.selected f_selected,
				s.id s_id,s.title s_title,s.iconCls s_iconCls,s.selected s_selected,s.href s_href
			        from t_back_left f left join t_back_left s on f.id=s.children
			            where s.selected =false
    </select>

</mapper>